doctype html
html
    head
        title= title
        // Viewport mobile tag for sensible mobile support
        meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
        link(rel="stylesheet", href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        block styles
        //STYLES
        link(rel="stylesheet", href="/styles/AdminLTE.css")
        link(rel="stylesheet", href="/styles/skin-blue.min.css")
        link(rel="stylesheet", href="/vendor/angular-material/angular-material.min.css")
        link(rel="stylesheet", href="/vendor/angular-material-icons/angular-material-icons.css")
        link(rel="stylesheet", href="/vendor/angular-loading-bar/src/loading-bar.css")
        link(rel="stylesheet", href="/vendor/angular-material-data-table/dist/md-data-table.min.css")
        link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
        //STYLES END
    body(data-ng-app="app")
        block body
        script(src="/vendor/jquery/dist/jquery.min.js")
        script(src="/vendor/bootstrap/dist/js/bootstrap.min.js")
        script(src="/vendor/angular/angular.min.js")
        script(src="/vendor/angular-resource/angular-resource.min.js")
        script(src="/vendor/angular-route/angular-route.min.js")
        script(src="/vendor/angular-material/angular-material.min.js")
        script(src="/vendor/angular-animate/angular-animate.min.js")
        script(src="/vendor/angular-aria/angular-aria.min.js")
        script(src="/vendor/angular-material-icons/angular-material-icons.min.js")
        script(src="/vendor/jquery-ui/jquery-ui.min.js")
        script(src="/vendor/angular-cookies/angular-cookies.min.js")
        script(src="/vendor/angular-loading-bar/src/loading-bar.js")
        script(src="/vendor/angular-material-data-table/dist/md-data-table.min.js")
        script(src="/vendor/angular-messages/angular-messages.min.js")
        script(src="/vendor/ng-file-upload/ng-file-upload-all.min.js")
        script(src="/js/dependencies/sails.io.js")
        script(src="/js/app/module.js")
        script(src="/js/app/controller/CategoryControllerDialog.js")
        script(src="/js/app/controller/DolgController.js")
        script(src="/js/app/controller/DolgDialogController.js")
        script(src="/js/app/controller/DolgKasaDialogController.js")
        script(src="/js/app/controller/HomeController.js")
        script(src="/js/app/controller/ItogController.js")
        script(src="/js/app/controller/KasaController.js")
        script(src="/js/app/controller/MenuController.js")
        script(src="/js/app/controller/NaklavController.js")
        script(src="/js/app/controller/NaklavDialogController.js")
        script(src="/js/app/controller/NaklavOplDialogController.js")
        script(src="/js/app/controller/PostController.js")
        script(src="/js/app/controller/PostDialogController.js")
        script(src="/js/app/controller/SkladController.js")
        script(src="/js/app/controller/SkladRasController.js")
        script(src="/js/app/controller/SpravinController.js")
        script(src="/js/app/controller/SpravinControllerDialog.js")
        script(src="/js/app/controller/SpravkaController.js")
        script(src="/js/app/controller/SpravkaDialogController.js")
        script(src="/js/app/filter/unique.js")
        script(src="/js/app/services/Categories.js")
        script(src="/js/app/services/Dolg.js")
        script(src="/js/app/services/Ingridients.js")
        script(src="/js/app/services/Items.js")
        script(src="/js/app/services/Naklavs.js")
        script(src="/js/app/services/Orders.js")
        script(src="/js/app/services/Post.js")
        script(src="/js/app/services/Sklads.js")
        script(src="/js/app/services/Uploader.js")
        script(src="/js/app/visual/autocomplete.js")
        script(src="/js/app.min.js")
        // SCRIPTS END
