
   <md-dialog aria-label="New order" class="neworder md-block" flex="30" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Поставщики</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()" aria-label="close">
          <ng-md-icon icon="close" size="24" style="fill: white"></ng-md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <md-content class="md-padding min">
      <md-input-container class="hidden">
          <label>Код</label>
          <input ng-model="post.id" class="ng-pristine ng-valid md-input ng-touched" aria-invalid="false" style="">
      </md-input-container>
      <md-input-container class="md-block" flex>
          <label for="input_19">Поставщик</label>
          <input ng-model="post.name" class="ng-pristine ng-valid md-input ng-touched" id="input_19" aria-invalid="false" style="">
      </md-input-container>
    </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-primary" data-ng-click="save()"><ng-md-icon icon="save" style="fill: white;" size="20"></ng-md-icon>Сохранить</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
